<section class="login-box grid text-layout">
  <div class="col-12 flex justify-content-center">
    <img src="./assets/pfp.svg" alt="loginhead" />
  </div>
  <div class="login-form">
    <h1>Login Here</h1>
    <form [formGroup]="loginForm">
      <!-- username -->
      <div class="col-12 flex justify-content-center">
        <input
          type="text"
          class="inputForm"
          placeholder="Username"
          formControlName="usuario"
          pInputText
        />
      </div>
      <div class="col-12 flex justify-content-center align-items-center">
        <input
          [type]="showPassword?'text':'password'"
          placeholder="Password"
          formControlName="password"
          pPassword
          [feedback]="false"
          class="inputForm"
        />
      </div>
      <div class="col-12">
        <button
          pButton
          pRipple
          type="button"
          label="Mostrar contraseña"
          class="p-button-info p-button-text"
          (click)="show()"
        ></button>
      </div>
      <div class="col-12">
        <button
          pButton
          type="button"
          label="Log In"
          class="p-button-success flex"
          (click)="login()"
        ></button>
      </div>
      <div class="col-12">
        <a href="#"> Don't have an account? </a>
      </div>
    </form>
  </div>

</section>
<p-dialog header="Revise sus campos" [(visible)]="display">
  No se ha podido iniciar sesión, revise sus campos
</p-dialog>