<section class="login-box grid text-layout">
  <div class="col-12 flex justify-content-center">
    <img src="./assets/pfp.svg" alt="loginhead" />
  </div>
  <div class="login-form">
    <h1>Login Here</h1>
    <form action="">
      <!-- username -->
      <div class="col-12 flex justify-content-center">
        <input
          type="text"
          class="inputForm"
          placeholder="Username"
          pInputText
        />
      </div>
      <div class="col-12 flex justify-content-center">
        <input
          type="password"
          placeholder="Password"
          pPassword
          [feedback]="false"
          class="inputForm"
        />
      </div>
      <div class="col-12">
        <button
          pButton
          type="button"
          label="Log In"
          class="p-button-success flex"
        ></button>
      </div>
      <div class="col-12">
        <a href="#"> Lost your Password </a>
      </div>
      <div class="col-12">
        <a href="#"> Don't have account? </a>
      </div>
    </form>
  </div>
</section>
